
$blanco: #EEE8D6;
$AzulOscuro: #101068;
$amarillo: 	#FFBA00;
$azul: #0076A3;
$verde: #548c27;
$rojo: #fe2f28;
$morado:#6D76CD;
$negro: #000000;

$color-fondo: $azul;
$color-texto: $blanco;
$color-titulos: $amarillo;
$fuente-titulos: 'Open Sans', sans-serif;

body {
	background: $color-fondo;
	margin:0;
	padding:0;
	font-size:1.4rem;
	color: $color-texto;
}

h1,h2,h3,h4 {
	color: $color-titulos;
	font-family: $fuente-titulos;
}